@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
	/* background-color: black;
	color-scheme: dark; */
}

html {
	scroll-behavior: smooth;
	transition: 0.5s ease;
}

::-webkit-scrollbar {
	width: 0.5rem;
	background: black;
	height: 1rem;
}

::-webkit-scrollbar-thumb {
	background: rgb(56, 33, 56);
	border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
	background: darkgoldenrod;
}
